/* basic reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* color variables, create palette of pale yellow orange red colors, set in CSS variables */
:root {
    --pale-yellow: #dacece;
    --pale-orange: #f9d9d9;
    --pale-red: #f9c3c3;
    --light: #ffffff;
    --dark: #333333;
    --border-radius: 10px;
    --padding: 40px;
    --gap: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--dark);
    margin: 12vmin;
}

/*
gridContainer
gridItem
gridCTA
ctaItem
buyNow
action
download
*/

.gridContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gridItem:nth-child(1) {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
}

.featureImage {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.featureImageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.ctasWrapper {
    display: grid;
    gap: var(--gap);
}

.ctaItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
    gap: var(--gap);
    border-radius: var(--border-radius);
    background-color: var(--pale-yellow);
}

.ctaItem:nth-child(2) {
    padding:0;
    background-color: transparent;
}




.buyNow {
    background-color: var(--pale-orange);
    display: block;
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
}

/* add right arrow at the end with pseudo elemnt */
.buyNow::after {
    content: '→';
    margin-left: 10px;
    font-size: 40px;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

/* on hover, move the arrow to the right */
.buyNow:hover {
    background-color: var(--pale-red);
}
.buyNow:hover::after {
    transform: translateX(10px) translateY(-50%);
}



.gridItem:not(:first-child) a{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
    padding: var(--padding);
    background-color: var(--pale-red);
    border-radius: var(--border-radius);
}

.gridItem a::after {
    content: '→';
    margin-left: 10px;
    font-size: 40px;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.gridItem a:hover {
    background-color: var(--pale-orange);
}

.gridItem a:hover::after {
    transform: translateX(10px) translateY(-50%);
}


.readMore.readMore {

}
.readMore.readMore::after {
    content:none;
}
.moreInfo {
    opacity: 0;
    pointer-events: none;
    display: block;
    left:40px;
    top: 40px;
    bottom: 40px;
    right: 40px;
    max-height: 100%;
    position: fixed;
    overflow-y: auto;
    background-color: var(--pale-yellow);
    padding: var(--padding);
    z-index: 1000;
    padding-inline: max(calc((100vw - 700px) / 2), var(--padding));
    transition: opacity 0.3s;
    border-radius: var(--border-radius);
}
.readMore:focus + .moreInfo,
.moreInfo:focus,
.moreInfo:focus-within {
    opacity: 1;
    pointer-events: auto;
}


.closeReadMore {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    padding: 6px;
    background-color: transparent;
}
.closeReadMore.closeReadMore::after {
    content: none;
}

.readMore:focus + .moreInfo + .closeReadMore,
.moreInfo:focus + .closeReadMore,
.moreInfo:focus-within  + .closeReadMore {
    display: block;
}


.moreInfo p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 30px 10px
}